<app-header titulo="editar perfil"></app-header>
  
  <ion-content>
      <h5 class="ion-text-center">¡Editar tu información personal!</h5>

      <ion-item button>
          <ion-icon name="contact" slot="start" color="subtitulos"></ion-icon>
          Datos Personales
      </ion-item> 

      <ion-item button>
          <ion-icon name="notifications" slot="start" color="subtitulos"></ion-icon>
          Notificaciones
      </ion-item> 

      <ion-item button  (click)="share()">
          <ion-icon name="star" slot="start" color="subtitulos"></ion-icon>
          Recomendar App
      </ion-item> 

      <ion-item button (click)="termsModal()">
          <ion-icon name="copy"  slot="start" color="subtitulos"></ion-icon>
          Términos y Condiciones
      </ion-item> 

      <ion-item button>
          <ion-icon name="key" slot="start" color="subtitulos"></ion-icon>
          Cambiar Contraseña
      </ion-item> 

      <ion-item button (click)="logout()">
          <ion-icon name="exit" slot="start" color="subtitulos" ></ion-icon>
          Cerrar Sesión
      </ion-item> 


  </ion-content>