<ion-header>
  <ion-toolbar color="cambista">
    <ion-title>Agregar Cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()"><ion-icon class="icon-size" name="arrow-back" ></ion-icon>Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
<form [formGroup]="todo">

  <ion-item>
    <ion-input type="text" formControlName="name_account" placeholder="Nombre y/o Descripción de Cuenta" clearInput></ion-input>
  </ion-item>

  <div class="ion-text-left ion-margin-start" *ngFor="let error of errorMessages.name_account">
    <ng-container  *ngIf="todo.controls.name_account.hasError(error.type) && (todo.controls.name_account.dirty || todo.controls.name_account.touched)">
      <ion-text  color="danger"><ion-icon name="add-circle"></ion-icon>{{error.message}}</ion-text>
    </ng-container>
  </div>

  <ion-item>
    <ion-input type="text"  formControlName="doc_account" maxlength="12" placeholder="Doc. Identidad" clearInput></ion-input>
  </ion-item>

  <div class="ion-text-left ion-margin-start" *ngFor="let error of errorMessages.doc_account">
    <ng-container  *ngIf="todo.controls.doc_account.hasError(error.type) && (todo.controls.doc_account.dirty || todo.controls.doc_account.touched)">
      <ion-text  color="danger"><ion-icon name="add-circle"></ion-icon>{{error.message}}</ion-text>
    </ng-container>
  </div>

  <ion-item>
    <ion-input type="text" formControlName="number_account_type" placeholder="N° Cuenta" clearInput></ion-input>
  </ion-item>

  <div class="ion-text-left ion-margin-start" *ngFor="let error of errorMessages.number_account_type">
    <ng-container  *ngIf="todo.controls.number_account_type.hasError(error.type) && (todo.controls.number_account_type.dirty || todo.controls.number_account_type.touched)">
      <ion-text  color="danger"><ion-icon name="add-circle"></ion-icon>{{error.message}}</ion-text>
    </ng-container>
  </div>

    <ion-item>
      <ion-label>Banco</ion-label>
      <ion-select formControlName="bank_account" interface="popover" placeholder="Seleccione">
        <ion-select-option value="BCP">BCP</ion-select-option>
        <ion-select-option value="BBVA">BBVA</ion-select-option>
        <ion-select-option value="INTERBANK">INTERBANK</ion-select-option>
        <ion-select-option value="SCOTIABANK">SCOTIABANK</ion-select-option>
        <ion-select-option value="DLNACION">DE LA NACION</ion-select-option>
        <ion-select-option value="PICHINCHA">PICHINCHA</ion-select-option>
        <ion-select-option value="BANBIF">BANBIF</ion-select-option>
        <ion-select-option value="FALABELLA">FALABELLA</ion-select-option>
        <ion-select-option value="AREQUIPA">CAJA AREQUIPA</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Cuenta</ion-label>
      <ion-select formControlName="type_name_account" interface="popover" placeholder="Seleccione">
        <ion-select-option value="CORRIENTE">Corriente</ion-select-option>
        <ion-select-option value="AHORRO">Ahorro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Moneda</ion-label>
      <ion-select formControlName="type_money_account" interface="popover" placeholder="Seleccione">
        <ion-select-option value="SOLES">Soles</ion-select-option>
        <ion-select-option value="DOLARES">Dolares</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button [disabled]="!todo.valid || disableButton" (click)="account()" expand="block" size="small" class="ion-padding" color="cambista"><ion-icon name="add-circle"></ion-icon> &nbsp;Añadir Cuenta</ion-button>
  </form>
</ion-content>
