<ion-header>
  <ion-toolbar color="cambista">
    <ion-title>Editar Cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()"><ion-icon class="icon-size" name="arrow-back" ></ion-icon>Atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <form [formGroup]="todo">

    <ion-item>
      <ion-input type="text" formControlName="name_account" placeholder="Nombre y/o Descripción de Cuenta" clearInput></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="text"  formControlName="doc_account" maxlength="12" placeholder="Doc. Identidad" clearInput></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="text" formControlName="number_account_type" placeholder="N° Cuenta" clearInput></ion-input>
    </ion-item>

    <div class="ion-text-left ion-margin-start" *ngFor="let error of errorMessages.number_account_type">
      <ng-container  *ngIf="todo.controls.number_account_type.hasError(error.type) && (todo.controls.number_account_type.dirty || todo.controls.number_account_type.touched)">
        <ion-text  color="danger"><ion-icon name="add-circle"></ion-icon>{{error.message}}</ion-text>
      </ng-container>
    </div>

  
      <ion-item>
        <ion-label>Banco</ion-label>
        <ion-select formControlName="bank_account" interface="popover" placeholder="Seleccione" >
          <ion-select-option  *ngIf="list['bank']==typebanks['BCP']" [selected]="true" value="BCP">BCP</ion-select-option>
          <ion-select-option  *ngIf="list['bank']==typebanks['BBVA']" [selected]="true" value="BBVA">BBVA</ion-select-option>
          <ion-select-option  *ngIf="list['bank']==typebanks['INTERBANK']" [selected]="true" value="INTERBANK">INTERBANK</ion-select-option>
          <ion-select-option  *ngIf="list['bank']==typebanks['SCOTIABANK']" [selected]="true" value="SCOTIABANK">SCOTIABANK</ion-select-option>
          <ion-select-option  *ngIf="list['bank']==typebanks['DLNACION']" [selected]="true" value="DLNACION">DE LA NACION</ion-select-option>
          <ion-select-option  *ngIf="list['bank']==typebanks['PICHINCHA']" [selected]="true" value="PICHINCHA">PICHINCHA</ion-select-option>
          <ion-select-option  *ngIf="list['bank']==typebanks['BANBIF']" [selected]="true" value="BANBIF">BANBIF</ion-select-option>
          <ion-select-option  *ngIf="list['bank']==typebanks['FALABELLA']" [selected]="true" value="FALABELLA">FALABELLA</ion-select-option>
          <ion-select-option  *ngIf="list['bank']==typebanks['AREQUIPA']" [selected]="true" value="AREQUIPA">CAJA AREQUIPA</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label>Tipo de Cuenta</ion-label>
        <ion-select formControlName="type_name_account" interface="popover" placeholder="Seleccione">
          <ion-select-option  *ngIf="list['type_number_bank']==typenumberbank['CORRIENTE']" [selected]="true" value="CORRIENTE">Corriente</ion-select-option>
          <ion-select-option  *ngIf="list['type_number_bank']==typenumberbank['AHORRO']" [selected]="true" value="AHORRO">Ahorro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de Moneda</ion-label>
        <ion-select formControlName="type_money_account" interface="popover" placeholder="Seleccione">
          <ion-select-option *ngIf="list['type_money']==typemoney['SOLES']" [selected]="true" value="SOLES">Soles</ion-select-option>
          <ion-select-option *ngIf="list['type_money']==typemoney['DOLARES']" [selected]="true" value="DOLARES">Dolares</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-button [disabled]="!todo.valid || disableButton" (click)="updateAccount()" expand="block" size="small" class="ion-padding" color="cambista"><ion-icon ios="ios-refresh-circle" md="md-refresh-circle"></ion-icon> &nbsp;Actualizar Cuenta</ion-button>
    </form>
</ion-content>