h5,h2{
    color: #666666;
}

.sc-ion-searchbar-md-h {
    -webkit-padding-start: 6px;
    padding-inline-start: 6px;
    -webkit-padding-end: 6px;
    padding-inline-end: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(0, 0, 0, 0.2);
}

ion-searchbar[no-shadow] {
    border-bottom: none !important;
  }