ion-icon[slot=start]{
    vertical-align: middle;
    padding-bottom: 5px;
    font-size: 1.4rem
  }

  ion-icon[name=mail]{
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.4rem
  }

  ion-icon[name=card]{
    vertical-align: middle;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 1.4rem
  }

  .icon-size {
    font-size: 30px;
    margin-left: -10px;
}